<div class="container">
    <div class="login-div">
        <div class="row">
            <div class="col"></div>
            <div class="col" style=" background-color: white; border: 2px solid #08326e;;">
                <h3 style="text-align: center;">{{aim}}</h3>
                <h2 style="text-align: center;">Login</h2>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="uname" [value]="acNumber" (change)="accountNumber($event)" placeholder="username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" id="pwd" placeholder="password" (change)="password($event)" aria-label="password" aria-describedby="basic-addon2">
                  </div>
                  <div class="input-group mb-3">
                    <p style="color: red;" id="error"></p>  
                  </div>
                  <div class="input-group mb-3 login-btn-center">
                    <button (click)="login()" class="btn btn-primary">Login</button>
                  </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>