<div class="container">
    <div class="login-div">
        <div class="row">
            <div class="col"></div>
            <div class="col" style=" background-color: white; border: 2px solid #08326e;">
                <h3 style="text-align: center;">{{aim}}</h3>
                <h2 style="text-align: center;">Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="login()">

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="acno" name="acno" formControlName="acno" placeholder="username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <!-- (change)="accountNumber($event)" -->
                  </div>
                  <div *ngIf="(this.loginForm.get('acno')?.touched || this.loginForm.get('acno')?.dirty) && (this.loginForm.get('acno')?.errors)" class="error">Invalid Account Number</div>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" id="pwd" name="pwd" formControlName="pwd" placeholder="password" aria-label="password" aria-describedby="basic-addon2">
                  </div>
                  <div *ngIf="(this.loginForm.get('pwd')?.touched || this.loginForm.get('pwd')?.dirty) && (this.loginForm.get('pwd')?.errors)" class="error">Invalid Password Number</div>

                  <div class="input-group mb-3">
                    <p style="color: red;" id="error"></p>  
                  </div>
                  <div class="input-group mb-3 login-btn-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a routerLink="register">SignUp</a>
                  </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>