<div  class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h2>Welcome {{userName}}</h2>
            <a [routerLink]="['/transaction']">Transaction History</a>
            <app-animation></app-animation>
            <div  class="bank-account" [ngClass]="acno? 'style1': '' ">
                
                <h2 style="text-align: center; color: white; margin-top: 100px;" >Deposit</h2>
                    <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="accno" formControlName="accno"  id="acc_no" placeholder="Account Number">
                        </div>
                        <div *ngIf="(this.depositForm.get('accno')?.errors) && (this.depositForm.get('accno')?.touched || this.depositForm.get('accno')?.dirty)" class="error">Invalid account Number</div>

                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="pwd" formControlName="pwd" id="pwd" placeholder="Password">
                        </div>
                        <div *ngIf="(this.depositForm.get('pwd')?.errors) && (this.depositForm.get('pwd')?.touched || this.depositForm.get('pwd')?.dirty)" class="error">Invalid Password</div>

                        <div class="input-group mb-3">
                            <input type="number" class="form-control" name="amount" formControlName="amount" id="amount" placeholder="Amount">
                        </div>
                        <div *ngIf="(this.depositForm.get('amount')?.errors) && (this.depositForm.get('amount')?.touched || this.depositForm.get('amount')?.dirty)" class="error">Enter Amount </div>

                        <div style="text-align: center;" class="input-group mb-3">
                            <button type="submit" style="margin-left: auto; margin-right: auto;" class="btn btn-success">Register</button>
                        </div>
                    </form>
            </div>
        </div>
        <div class="col"></div>
        </div>
        <div class="row">
        <div class="col"></div>
        <div class="col" [ngClass]="acno? 'style1': '' ">
            <div  class="bank-account">
            
                <h2 style="text-align: center; color: white; margin-top: 50px;">Withdraw</h2>
                    <form [formGroup]="withdrawFrom" (ngSubmit)="withdraw()">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="accno1" formControlName="accno1" id="accno1" placeholder="Account Number">
                        </div>
                        <div *ngIf="(this.withdrawFrom.get('accno1')?.errors) && (this.withdrawFrom.get('accno1')?.touched || this.withdrawFrom.get('accno1')?.dirty)" class="error">Invalid account Number</div>

                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="pwd1" formControlName="pwd1"  id="pwd1" placeholder="Password">
                        </div>
                        <div *ngIf="(this.withdrawFrom.get('pwd1')?.errors) && (this.withdrawFrom.get('pwd1')?.touched || this.withdrawFrom.get('pwd1')?.dirty)" class="error">Invalid Password</div>
                        
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" name="amount1" formControlName="amount1" id="amount1" placeholder="Amount">
                        </div>
                        <div *ngIf="(this.withdrawFrom.get('amount1')?.errors) && (this.withdrawFrom.get('amount1')?.touched || this.withdrawFrom.get('amount1')?.dirty)" class="error">Pls Enter Amount</div>

                        <div style="text-align: center;" class="input-group mb-3">
                            <button type="submit" style="margin-left: auto; margin-right: auto;" class="btn btn-success">Register</button>
                        </div>
                    </form>
            </div>
        </div>
        <div class="col">
            
        </div>
        </div>
        <app-delete-confirmation (onCancel)="cancel()" (onDelete)="onDelete($event)" [item]="acno"></app-delete-confirmation>
        <button class="btn btn-danger" (click)="deletAcc()">Delete</button>
    </div>
   